<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app"></div>
    <template id="noah">
      <div>{{message}}</div>
      <button @click="()=>{selected = !selected}">切换</button>

      <!-- <div v-for="i in 10000" :key="i" v-memo="[message,selected]"> -->
      <div v-for="i in 10000" :key="i" v-memo="[]">
        <!-- 如果 message 和 selected 都保持不变，这个 <div> 及其子项的所有更新都将被跳过。实际上，甚至虚拟 DOM 的 vnode 创建也将被跳过，因为缓存的子树副本可以被重新使用。 -->
        <li>{{i}}-selected:{{selected?'xxx':'yyy'}}</li>
      </div>
    </template>
    <script>
      const { createApp, ref } = Vue
      createApp({
        template: `#noah`,
        setup() {
          const message = ref('hello world')
          const selected = ref(true)
          return {
            message,
            selected,
          }
        },
      }).mount('#app')
    </script>
  </body>
</html>
